__pycache__
tmp
experiments/
*.egg-info
logs
3DSSG_subset
data
*.ini
*.ply
results/
scripted_model
*.pth
*.md

venv
files/*.json
files/*.txt
files/
*.zip
out/
*.txt
.vscode
.mlp
rio_renderer
experiments_bk/
experiments_old/
experiments_*
logs/
*.png
*.prof
*.whl
*.zip
*.sh
JointSSG_full_l20/
JointSSG_full_l160/
Relation_ScanNet/data_processing
img/
*.jpg
*.jpeg
*.png
tsne/